<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318084296562-ajjusur7gt4oj0bbr9q1qdfrg53frpf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318084296562-ajjusur7gt4oj0bbr9q1qdfrg53frpf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBcmUq6L82KgrzXvALiMR-BkYevNgXO0JA</string>
	<key>GCM_SENDER_ID</key>
	<string>318084296562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-b7214</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-b7214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318084296562:ios:5471cef4bd8c903fb2b7eb</string>
	<key>DATABASE_URL</key>
	<string>https://e-commerce-b7214.firebaseio.com</string>
</dict>
</plist>